/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.leaflet-top.leaflet-right {
    display: none;
}

button, .ui-paginator-page{
    background: #000 !important;
    color: #F5F5F5 !important;
    border: 1px solid #000 !important;
    
}

.ui-tabview-panels {
    border: 1px solid #ccc !important;
    position: relative;
    
    * > {
        transform: scale(0.9);
        position: relative;
        top: -10px;
        text-align: left
    }
}
